<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="newspaper-outline"></ion-icon>
            <ion-label>Noticias</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="star-outline"></ion-icon>
            <ion-label>Favoritos</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>