<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Noticias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pull-factor="2" pullingText="Desliza hacia abajo para refrescar" refreshingSpinner="circles" refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let noticia of noticias.articles">
        <ion-card-header>
            <ion-toolbar>
                <ion-buttons slot="end">
                    <ion-button (click)="presentActionSheet(noticia)">
                        <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
                    </ion-button>
                </ion-buttons>

                <ion-card-subtitle>{{ noticia.source.name }}</ion-card-subtitle>
            </ion-toolbar>
        </ion-card-header>
        <ion-card-content>
            <ion-img *ngIf="noticia.urlToImage != null" [src]="noticia.urlToImage" style="margin-bottom: 10px;"></ion-img>
            <ion-card-title>
                {{ noticia.title }}
            </ion-card-title>
        </ion-card-content>
    </ion-card>

</ion-content>